.box-1{
  height: 70px;
  width: auto;
  margin: 5px;
  background-color: rgb(148, 162, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 2px;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  transition: background-color 0.5s;
}

.bluebtn-1{
  background-color: blue;
  border-radius: 20px;
  width: 100px;
}

.bluebtn-2{
  background-color: green;
  border-radius: 20px;
  width: 100px;
}
.bluebtn-3{
  background-color: yellow;
  border-radius: 20px;
  color: black;
  width: 100px;
}
.bluebtn-4{
  background-color: black;
  border-radius: 20px;
  width: 100px;
}
.bluebtn-5{
  background-color: grey;
  border-radius: 20px;
  width: 100px;
}

